# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the 
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/docs/Gitignore.md

fastlane/report.xml
fastlane/screenshots
testFastlane/Pods/CHCSVParser/LICENSE.txt
testFastlane/Pods/CHCSVParser/README.markdown
testFastlane/Pods/CHCSVParser/CHCSVParser/CHCSVParser/CHCSVParser.h
testFastlane/Pods/CHCSVParser/CHCSVParser/CHCSVParser/CHCSVParser.m
testFastlane/Pods/Headers/Private/CHCSVParser/CHCSVParser.h
testFastlane/Pods/Headers/Private/SWRevealViewController/SWRevealViewController.h
testFastlane/Pods/Pods.xcodeproj/project.pbxproj
testFastlane/Pods/SWRevealViewController/LICENSE.txt
testFastlane/Pods/SWRevealViewController/README.md
testFastlane/Pods/SWRevealViewController/SWRevealViewController/SWRevealViewController.h
testFastlane/Pods/SWRevealViewController/SWRevealViewController/SWRevealViewController.m
testFastlane/Pods/Target Support Files/CHCSVParser/CHCSVParser-dummy.m
testFastlane/Pods/Target Support Files/CHCSVParser/CHCSVParser-prefix.pch
testFastlane/Pods/Target Support Files/CHCSVParser/CHCSVParser-umbrella.h
testFastlane/Pods/Target Support Files/CHCSVParser/CHCSVParser.modulemap
testFastlane/Pods/Target Support Files/CHCSVParser/CHCSVParser.xcconfig
testFastlane/Pods/Target Support Files/CHCSVParser/Info.plist
testFastlane/Pods/Target Support Files/Pods/Info.plist
testFastlane/Pods/Target Support Files/Pods/Pods-acknowledgements.markdown
testFastlane/Pods/Target Support Files/Pods/Pods-acknowledgements.plist
testFastlane/Pods/Target Support Files/Pods/Pods-dummy.m
testFastlane/Pods/Target Support Files/Pods/Pods-frameworks.sh
testFastlane/Pods/Target Support Files/Pods/Pods-resources.sh
testFastlane/Pods/Target Support Files/Pods/Pods-umbrella.h
testFastlane/Pods/Target Support Files/Pods/Pods.debug.xcconfig
testFastlane/Pods/Target Support Files/Pods/Pods.modulemap
testFastlane/Pods/Target Support Files/Pods/Pods.release.xcconfig
testFastlane/Pods/Target Support Files/SWRevealViewController/Info.plist
testFastlane/Pods/Target Support Files/SWRevealViewController/SWRevealViewController-dummy.m
testFastlane/Pods/Target Support Files/SWRevealViewController/SWRevealViewController-prefix.pch
testFastlane/Pods/Target Support Files/SWRevealViewController/SWRevealViewController-umbrella.h
testFastlane/Pods/Target Support Files/SWRevealViewController/SWRevealViewController.modulemap
testFastlane/Pods/Target Support Files/SWRevealViewController/SWRevealViewController.xcconfig
testFastlane/fastlane/report.xml
testFastlane/Pods/Manifest.lock
