ENV["SLACK_URL"] = ""
ENV["GITHUB_API_TOKEN"] = "f4bda584f7bad9adde2c82d0f3a0355060b723a3"
ENV["CRASHLYTICS_API_TOKEN"] = ""
ENV["CRASHLYTICS_BUILD_SECRET"] = ""
ENV["APPLE_ID"] = "alessandro.amoroso@gmail.com"
ENV["SIGH_USERNAME"] = ENV["APPLE_ID"]
ENV["PILOT_APPLE_ID"] = ENV["APPLE_ID"]
ENV["DELIVER_USERNAME"] = ENV["APPLE_ID"]
